
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/_Layout_index.cshtml";
}

<div class="bg-lightgrey">
    <!--关于我们-->
    <div class="am-padding-xl bg-white">
        <div class="container">
            <div class="text-center am-text-default">
                <div class="">
                    关于无忧借款
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        About us
                    </span>
                </div>
            </div>
            <div class="am-padding-xl grey">
                <p>
                    无忧保使劲游网旗下产品，提供个体社保代缴服务。由中国人社部认证许可，拥有完善的资金监管体系，社保资 金有招商银行进行资金监管，目前已和招商银行、众安保险、爱康国宾等企业达成战略合作关系。无忧保关心每个个 图对安定美好生活的追求，以PC客户端便捷操作，满足个体社保缴纳需要。
                </p>
                <p> 无忧借款，您的社保、借款管家。</p>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs1.jpg" width="307" height="218" />
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs2.jpg" width="307" height="218" />
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs3.jpg" width="307" height="218" />
                </div>
            </div>
        </div>
    </div>
    <!--无忧借款优势-->
    <div class="am-padding-xl bg-white am-margin-vertical-sm">
        <div class="container">
            <div class="text-center am-text-default">
                <div class="">
                    无忧借款优势
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        Advantage
                    </span>
                </div>
            </div>
            <div class="advantgeBox-w am-padding-top-lg">
                <ul class="list-unstyled clearfix">
                    <li>
                        <div class="itemBox am-text-default">
                            <div>分段计算</div>
                            <div>自动调基</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>便捷体验</div>
                            <div>清晰透明</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>办理进度</div>
                            <div>实时反馈</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>账单明细</div>
                            <div>自动生成</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>分段计算</div>
                            <div>自动调基</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--服务内容-->
    <div class="am-padding-xl bg-white am-margin-bottom-sm">
        <div class="container am-text-default">
            <div class="text-center">
                <div class="">
                    服务内容
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        Service Content
                    </span>
                </div>
            </div>
            <ul class="serviceBox-w grey">
                <li>社保及公积金政策咨询</li>
                <li>代办年度一次社保基数调整手续</li>
                <li>代办养老保险缴纳手续</li>
                <li>代办年度一次公积金基数调整手续</li>
                <li>代办医疗保险缴纳手续</li>
                <li>提供全国主要城市的参保证明</li>
                <li>代办生育保险缴纳手续</li>
                <li>提供公积金提取、按月转账申请盖章材料</li>
                <li>代办住房公积金缴纳手续</li>
                <li>协助个体办理当地政策规定可报销的生育医疗费报销</li>
            </ul>
        </div>
    </div>
    <!---->
</div>

