
@{
    ViewBag.Title = "借款";
    Layout = "~/Views/_Layout_index.cshtml";
}

<div class="bg-lightgrey">
    <!--价格-->
    <div class="am-padding-xl bg-white">
        <div class="container am-text-default">
            <div class="">
                <strong class="text-primary">||</strong> 适合的借款对象
            </div>
            <div class="text-center am-padding-top-xl">
                <img src="/Content/img/loan-obj.jpg" width="1130" height="510" />
            </div>
            <div class="text-right am-padding-top-xl">
                <a href="/Loan/Loan" class="toLoanBtn">我要贷款 >></a>
            </div>
        </div>
    </div>
    <!--申请条件-->
    <div class="am-padding-xl bg-white am-margin-vertical-sm">
        <div class="container">
            <div class="am-text-default">
                <strong class="text-primary">||</strong> 申请条件
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="conditionBox relative">
                        <span class="label label-primary bg-lightblue am-text-lg">申请条件</span>
                        <ul class="list grey">
                            <li>年龄:21-55岁</li>
                            <li>现居住地满6个月以上</li>
                            <li>
                                <div>工作要求:</div>
                                <ul class="list-unstyled am-padding-left-lg">
                                    <li>（1）企业职员：现职工作6个月以上</li>
                                    <li>（2）私营企业主：营业执照注册12月以上</li>
                                </ul>
                            </li>
                        </ul>
                        <i class="icon-w icon-lg-person"></i>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="requestBox relative">
                        <span class="label label-primary bg-lightblue am-text-lg">所需材料</span>
                        <ul class="list grey">
                            <li>二代身份证</li>
                            <li>工商/农业/建设/招商/平安银行储蓄卡任一均可</li>
                            <li>居住证明：电费单/水费单/电信账单任一均可</li>
                            <li>如有寿险,请提供保单原件或保单截屏</li>
                            <li>如有房贷,请提供房产证/产调证明/住房购买合同任一均可</li>
                        </ul>
                        <i class="icon-w icon-lg-present"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--借款流程-->
    <div class="am-padding-xl bg-white am-margin-bottom-sm">
        <div class="container">
            <div class="am-text-default">
                <strong class="text-primary">||</strong> 借款流程
            </div>
            <div class="text-center am-padding-top-xl">
                <img src="/Content/img/loan-flow.jpg" width="1046" height="249" />
            </div>
        </div>
    </div>
    <!--产品优势-->
    <div class="am-padding-xl bg-white am-margin-bottom-sm">
        <div class="container">
            <div class="am-text-default">
                <strong class="text-primary">||</strong> 产品优势
            </div>
            <div class="text-center am-padding-top-xl">
                <img src="/Content/img/product-advantage.jpg" width="1156" height="172" />
            </div>
        </div>
    </div>
    <!---->
</div>

