<!--header-->
<nav class="navbar navbar-default header-w navbar-static-top am-margin-bottom-0">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="">
                <a href="index.html" class="text-muted">
                    <span class="bg-white icon-w-box am-text-middle">
                        <i class="icon-w icon-home" aria-hidden="true"></i>
                    </span>
                    <span class="am-text-middle am-padding-left-xs">HOME</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="bg-white icon-w-box am-text-middle">
                        <i class="icon-w icon-cubic" aria-hidden="true"></i>
                    </span>
                    <span class="am-text-middle am-padding-left-xs">官方微博</span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span class="bg-white icon-w-box am-text-middle">
                        <i class="icon-w icon-man" aria-hidden="true"></i>
                    </span>
                    <span class="am-text-middle am-padding-left-xs">关于我们</span>
                </a>
            </li>
        </ul>
        <div class="navbar-right">
            <div class="am-padding-vertical-sm text-muted">
                <i class="icon-w icon-clock"></i>
                <span class="am-text-middle am-padding-horizontal-sm">2016-04-28</span>
                <span class="am-text-middle">星期四</span>
            </div>
        </div>
    </div>
</nav>