
@{
    ViewBag.Title = "Loan";
    Layout = "~/Views/_Layout_SocialSecurity.cshtml";
}

<div class="bg-lightgrey">
    <div class="container bg-white">
        <div class="relative text-center">
            <hr />
            <span class="hrTitle-w left grey">
                我要借款
            </span>
        </div>
        <!--表单计算-->
        <div class="am-padding-xl">
            <form class="form-horizontal">
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>可借额度</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        50000
                    </div>
                </div>
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>已借额度</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        0
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-lg-2 col-md-2 col-sm-2 control-label">本次借款</label>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <input class="form-control" type="text" id="" placeholder="请输入本次借款金额">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 col-md-2 col-sm-2 control-label">还款方式</label>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <select class="form-control">
                            <option>请选择还款方式</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <select class="form-control">
                            <option>等额本息</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="row am-margin-vertical-lg orange">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="am-padding-left-xs">
                            注：第一次借款需要客户签字确认
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <button type="reset" class="btn btn-info bg-lightblue btn-lg btn-block">确定借款</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

