
@{
    Layout = "~/Views/User/_Layout_user.cshtml";
    ViewBag.title = "hhhhhh";
}

<div class="user-right-w pull-right am-margin-bottom-lg am-margin-left-lg">
    <div class="panel panel-default bg-lightgrey am-margin-bottom-0">
        <div class="panel-heading">
            <h3 class="panel-title row">
                <div class="col-lg-3">
                    <input type="text" class="form-control" name="" id="" value="" placeholder="姓名">
                </div>
                <div class="col-lg-3">
                    <select class="form-control">
                        <option value="">户籍性质</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control">
                        <option value="">参保城市</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="col-lg-3 text-right">
                    <button type="button" class="btn btn-info bg-lightblue">查询</button>
                </div>
            </h3>
        </div>
        <div class="insurance-list-w">
            <ul class="list-unstyled am-margin-0">
                <li class="row bg-white">
                    <div class="col-lg-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="" value="option1" aria-label="...">
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    姓名：<span class="orange">崔振</span>
                                </div>
                                <div class="col-lg-4">
                                    身份证：370784198803286619
                                </div>
                                <div class="col-lg-4">
                                    户籍性质：外地城镇
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    起缴月份：201604
                                </div>
                                <div class="col-lg-4">
                                    结束月份：2016010
                                </div>
                                <div class="col-lg-4">
                                    社保基数：2000
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保金额：4010
                                </div>
                                <div class="col-lg-4">
                                    公积金基数：2000
                                </div>
                                <div class="col-lg-4">
                                    公积金金额：3200
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保状态：正常
                                </div>
                                <div class="col-lg-4">
                                    公积金状态：正常
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="row bg-white">
                    <div class="col-lg-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="" value="option1" aria-label="...">
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    姓名：<span class="orange">崔振</span>
                                </div>
                                <div class="col-lg-4">
                                    身份证：370784198803286619
                                </div>
                                <div class="col-lg-4">
                                    户籍性质：外地城镇
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    起缴月份：201604
                                </div>
                                <div class="col-lg-4">
                                    结束月份：2016010
                                </div>
                                <div class="col-lg-4">
                                    社保基数：2000
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保金额：4010
                                </div>
                                <div class="col-lg-4">
                                    公积金基数：2000
                                </div>
                                <div class="col-lg-4">
                                    公积金金额：3200
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保状态：正常
                                </div>
                                <div class="col-lg-4">
                                    公积金状态：正常
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="row bg-white">
                    <div class="col-lg-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="" value="option1" aria-label="...">
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    姓名：<span class="orange">崔振</span>
                                </div>
                                <div class="col-lg-4">
                                    身份证：370784198803286619
                                </div>
                                <div class="col-lg-4">
                                    户籍性质：外地城镇
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    起缴月份：201604
                                </div>
                                <div class="col-lg-4">
                                    结束月份：2016010
                                </div>
                                <div class="col-lg-4">
                                    社保基数：2000
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保金额：4010
                                </div>
                                <div class="col-lg-4">
                                    公积金基数：2000
                                </div>
                                <div class="col-lg-4">
                                    公积金金额：3200
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保状态：正常
                                </div>
                                <div class="col-lg-4">
                                    公积金状态：正常
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row am-padding-vertical-xl">
            <div class="col-lg-2 col-lg-offset-3">
                <button type="button" class="btn btn-info bg-lightblue btn-block">全选</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info bg-lightblue btn-block">停保</button>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-info bg-lightblue btn-block">停公积金</button>
            </div>
        </div>
    </div>
</div>