
<div class="user-left-w pull-left am-text-lg am-margin-bottom-lg">
    <div class="am-padding-lg text-center">
        <img src="/Content/img/photo.png" width="110" height="110" alt="" class="img-circle">
        <div class="am-margin-top-sm">
            <a href="user-info-change.html" class="white">
                <i class="icon-w icon-info-w am-margin-right-xs"></i>
                <span class="am-text-middle">补充信息</span>
            </a>
        </div>
    </div>
    <div class="cateMenu text-center" id="cateMenu">
        <ul class="am-margin-0 am-padding-0">
            <li class="active">
                <div class="cate-tag">
                    <a href="@Url.Action("Info", "User")" class="white center-block">
                        <i class="icon-w icon-man-w am-margin-right-xs"></i>
                        <span class="am-text-middle">个人中心</span>
                    </a>
                </div>
            </li>
            <li class="">
                <div class="cate-tag">
                    <a href="user-insurance-index.html" class="white center-block">
                        <i class="icon-w icon-people-w am-margin-right-xs"></i>
                        <span class="am-text-middle">参保人&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </a>
                </div>
                <div class="list-item-w" style="top: 48px; display: none;">
                    <dl class="am-margin-0">
                        <dd>
                            <a href="@Url.Action("Insurance", "User")" class="white center-block">
                                全部
                            </a>
                        </dd>
                        <dd>
                            <a href="user-insurance-add1.html" class="white center-block">
                                添加参保人
                            </a>
                        </dd>
                        <dd>
                            <a href="user-insurance-chageSB.html" class="white center-block">
                                社保基数变更
                            </a>
                        </dd>
                        <dd>
                            <a href="user-insurance-chageFund.html" class="white center-block">
                                公积金基数变更
                            </a>
                        </dd>
                        <dd>
                            <a href="user-insurance-recSB.html" class="white center-block">
                                社保基数变更历史
                            </a>
                        </dd>
                        <dd>
                            <a href="user-insurance-recFund.html" class="white center-block">
                                公积金基数变更历史
                            </a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="">
                <div class="cate-tag">
                    <a href="user-account.html" class="white center-block">
                        <i class="icon-w icon-files-w am-margin-right-xs"></i>
                        <span class="am-text-middle">我的账户</span>
                    </a>
                </div>
                <div class="list-item-w" style="display: none; top: 48px;">
                    <dl class="am-margin-0">
                        <dd>
                            <a href="user-account-charge.html" class="white center-block">
                                充值
                            </a>
                        </dd>
                        <dd>
                            <a href="user-account-withdraw.html" class="white center-block">
                                提现
                            </a>
                        </dd>
                        <dd>
                            <a href="#" class="white center-block">
                                续费
                            </a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li class="">
                <div class="cate-tag">
                    <a href="user-order-all.html" class="white center-block">
                        <i class="icon-w icon-order-w am-margin-right-xs"></i>
                        <span class="am-text-middle">我的订单</span>
                    </a>
                </div>
            </li>
            <li class="">
                <div class="cate-tag">
                    <a href="user-apply-withdraw.html" class="white center-block">
                        <i class="icon-w icon-submit-w am-margin-right-xs"></i>
                        <span class="am-text-middle">提现申请</span>
                    </a>
                </div>
            </li>
            <li class="">
                <div class="cate-tag">
                    <a href="user-myLoan.html" class="white center-block">
                        <i class="icon-w icon-list-w am-margin-right-xs"></i>
                        <span class="am-text-middle">我的借款</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>