
@{
    ViewBag.Title = "Payback1";
    Layout = "~/Views/_Layout_black.cshtml";
}

<div class="bg-lightgrey">
    <div class="container bg-white">
        <div class="relative text-center">
            <hr />
            <span class="hrTitle-w left grey">
                还款（一）
            </span>
        </div>
        <!--表单计算-->
        <div class="am-padding-xl">
            <form class="form-horizontal">
                <div class="row am-margin-bottom-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>还款账号</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        62305820000009369730
                    </div>
                </div>
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>贷款金额（元）</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        2000000
                    </div>
                </div>
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>贷款余额（元）</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        2000
                    </div>
                </div>
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>账户余额（元）</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        50000
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-lg-2 col-md-2 col-sm-2 control-label">还款类型</label>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <select class="form-control">
                            <option>请选择还款方式</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="row am-margin-vertical-lg">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                        <strong>还款金额（元）</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        50000
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <a href="loan-payback-s2.html" class="btn btn-info bg-lightblue btn-lg btn-block">继续</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

