
@{
    ViewBag.Title = "CalculatorSecond";
    Layout = "~/Views/_Layout_SocialSecurity.cshtml";
}

<div class="bg-lightgrey">
    <div class="container bg-white">
        <div class="relative text-center">
            <hr />
            <span class="hrTitle-w left grey">
                身价计算
            </span>
        </div>
        <!--进度条-->
        <div class="statusBox-w am-padding-vertical-sm">
            <ul class="clearfix am-padding-0">
                <li class="prev">
                    <b class="num pull-left">1</b>
                    <span class="pull-left">身价计算(一)</span>
                    <i class="icon-w pull-right"></i>
                </li>
                <li class="current">
                    <b class="num pull-left">2</b>
                    <span class="pull-left">身价计算(二)</span>
                    <i class="icon-w pull-right"></i>
                </li>
                <li class="">
                    <b class="num pull-left">3</b>
                    <span class="pull-left">身价计算(三)</span>
                    <i class="icon-w pull-right"></i>
                </li>
                <li class="">
                    <b class="num pull-left">4</b>
                    <span class="pull-left">身价计算(四)</span>
                </li>
            </ul>
        </div>
        <!--表单计算-->
        <form class="">
            <div class="form-group">
                （二）近半年在本单位缴费期间有几次未按规定时间缴费
            </div>
            <div class="form-group am-padding-left-lg">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        无
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        1次
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        2次
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        3次及以上
                    </label>
                </div>
            </div>
            <div class="form-group text-primary">
                注释：查询交费历史
            </div>
            <div class="form-group am-padding-top-xl">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <button type="button" class="btn btn-info bg-lightblue btn-lg btn-block">立即计算</button>
                    </div>
                </div>
            </div>
            <div class="form-group am-padding-bottom-xl">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <a href="loan-value-s3.html" class="btn btn-info bg-lightblue btn-lg btn-block">下一题</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

