
<footer class="bg-black am-padding-lg">
    <div class="container am-text-xs">
        <!--友情链接-->
        <div class="row">
            <div class="col-lg-1 white">
                友情链接：
            </div>
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-2">
                        <a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" target="_blank" class="grey">友情链接</a>
                    </div>
                    <div class="col-lg-2">
                        <a href="#" target="_blank" class="grey">友情链接友情链接友情链接友情链接友情链接</a>
                    </div>
                </div>
            </div>
        </div>
        <!--分类链接-->
        <div class="am-padding-lg text-center">
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank" class="white">社保大厅</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="white">无忧借款</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="white">帮助中心</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="white">关于我们</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="white">登录</a>
                </li>
                <li>
                    <a href="#" target="_blank" class="white">注册</a>
                </li>
            </ul>
        </div>
        <!--认证-->
        <div class="text-center">
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank" class="">
                        <img src="~/Content/img/footer1.gif" width="124" height="47">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="">
                        <img src="~/Content/img/footer2.gif" width="124" height="47">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="">
                        <img src="~/Content/img/footer3.gif" width="124" height="47">
                    </a>
                </li>
            </ul>
        </div>
        <!--copyright-->
        <div class="text-center grey">
            <div>
                Copyright © 2014 - 2015青岛XXXX有限公司 版权归XXXX所有
            </div>
            <div>
                地址：青岛市崂山区XXXXX
            </div>
            <div>
                <a href="#" class="text-muted">人力资源服务许可证 330108000023</a>
            </div>
            <div>
                <a href="#" class="text-muted">
                    鲁ICP备15028495号-2 增值电信业务经营许可证：浙B2-20150177
                </a>
            </div>
        </div>
    </div>
</footer>
