
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/User/_Layout_user.cshtml";
}

<div class="user-right-w pull-right am-margin-bottom-lg am-margin-left-lg">
    <div class="panel panel-default bg-lightgrey am-margin-bottom-0">
        <div class="panel-heading">
            <h3 class="panel-title">
                <ul class="order-titleBox-w clearfix">
                    <li>
                        <a href="user-order-all.html" class="active">全部</a>
                    </li>
                    <li>
                        <a href="user-order-unpay.html" class="text-muted">待支付</a>
                    </li>
                    <li>
                        <a href="user-order-checking.html" class="text-muted">审核中</a>
                    </li>
                    <li>
                        <a href="user-order-processing.html" class="text-muted">处理中</a>
                    </li>
                    <li>
                        <a href="user-order-done.html" class="text-muted">交易完成</a>
                    </li>
                </ul>
            </h3>
        </div>
        <div class="insurance-list-w">
            <ul class="list-unstyled am-margin-0">
                <li class="row bg-white">
                    <div class="col-lg-12">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保/公积金
                                </div>
                                <div class="col-lg-4">
                                    订单号：201602221605014282
                                </div>
                                <div class="col-lg-4">
                                    生成时间：2016-02-22
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交金额：1828.62
                                </div>
                                <div class="col-lg-4">
                                    服务费：200
                                </div>
                                <div class="col-lg-4">
                                    共计：1828
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交人数：2
                                </div>
                                <div class="col-lg-4">
                                    缴交月份：2016-03-15
                                </div>
                                <div class="col-lg-4">
                                    <span class="orange">待支付</span>
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4 col-lg-offset-8">
                                    <a href="#" class="pull-left">立即付款</a>
                                    <a href="user-order-detail.html" class="pull-right text-muted"><span class="am-text-middle">详情</span><i class="glyphicon glyphicon-menu-right am-text-middle"></i></a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="row bg-white">
                    <div class="col-lg-12">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保/公积金
                                </div>
                                <div class="col-lg-4">
                                    订单号：201602221605014282
                                </div>
                                <div class="col-lg-4">
                                    生成时间：2016-02-22
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交金额：1828.62
                                </div>
                                <div class="col-lg-4">
                                    服务费：200
                                </div>
                                <div class="col-lg-4">
                                    共计：1828
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交人数：2
                                </div>
                                <div class="col-lg-4">
                                    缴交月份：2016-03-15
                                </div>
                                <div class="col-lg-4">
                                    <span class="orange">审核中</span>
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4 col-lg-offset-8">
                                    <a href="user-order-detail.html" class="pull-right text-muted"><span class="am-text-middle">详情</span><i class="glyphicon glyphicon-menu-right am-text-middle"></i></a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="row bg-white">
                    <div class="col-lg-12">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保/公积金
                                </div>
                                <div class="col-lg-4">
                                    订单号：201602221605014282
                                </div>
                                <div class="col-lg-4">
                                    生成时间：2016-02-22
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交金额：1828.62
                                </div>
                                <div class="col-lg-4">
                                    服务费：200
                                </div>
                                <div class="col-lg-4">
                                    共计：1828
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交人数：2
                                </div>
                                <div class="col-lg-4">
                                    缴交月份：2016-03-15
                                </div>
                                <div class="col-lg-4">
                                    <span class="orange">交易完成</span>
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4 col-lg-offset-8">
                                    <a href="user-order-detail.html" class="pull-right text-muted"><span class="am-text-middle">详情</span><i class="glyphicon glyphicon-menu-right am-text-middle"></i></a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="row bg-white">
                    <div class="col-lg-12">
                        <dl class="am-margin-0">
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    社保/公积金
                                </div>
                                <div class="col-lg-4">
                                    订单号：201602221605014282
                                </div>
                                <div class="col-lg-4">
                                    生成时间：2016-02-22
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交金额：1828.62
                                </div>
                                <div class="col-lg-4">
                                    服务费：200
                                </div>
                                <div class="col-lg-4">
                                    共计：1828
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4">
                                    缴交人数：2
                                </div>
                                <div class="col-lg-4">
                                    缴交月份：2016-03-15
                                </div>
                                <div class="col-lg-4">
                                    <span class="orange">处理中</span>
                                </div>
                            </dd>
                            <dd class="row am-padding-vertical-sm">
                                <div class="col-lg-4 col-lg-offset-8">
                                    <a href="user-order-detail.html" class="pull-right text-muted"><span class="am-text-middle">详情</span><i class="glyphicon glyphicon-menu-right am-text-middle"></i></a>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

