@model Order
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/_Layout_SocialSecurity.cshtml";
}

<div class="bg-lightgrey">
    <div class="container bg-white">
        <div class="relative text-center">
            <hr />
            <span class="hrTitle-w left grey">
                支付
            </span>
        </div>
        <!--表单计算-->
        <div class="am-padding-xl">
            <form class="form-horizontal" method="post" action="/UserOrder/Pay">
                <div class="form-group am-padding-left-xl">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="" value="option2">
                            中国银联
                        </label>
                    </div>
                </div>
                <div class="form-group am-padding-left-xl">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="" value="option2">
                            我的账户 <span class="am-padding-left-lg">账户余额：<span class="orange">50000</span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 text-right orange">
                        总计支付：32100
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <button type="submit" class="btn btn-info bg-lightblue btn-lg btn-block">确认</button>
                        @Html.HiddenFor(m=>m.OrderCode)
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

