@model AccumulationFund
@{
    ViewBag.Title = "公积金基数变更";
    Layout = "~/Views/User/_Layout_user.cshtml";
}

<div class="user-right-w pull-right am-margin-bottom-lg am-margin-left-lg">
    <div class="panel panel-default am-margin-bottom-0">
        <div class="panel-heading">
            <h3 class="panel-title clearfix">
                <div class="pull-left">
                    <span class="am-text-middle">公积金基数变更</span>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            <form action="/UserInsurance/ChangeFund" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">姓名</label>
                    <div class="col-lg-10">
                        @Html.DropDownListFor(m => m.SocialSecurityPeopleID, ViewBag.SocialSecurityPersons as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width:200px" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">身份证</label>
                    <div class="col-lg-10">
                        <p class="form-control-static" id="IdentityCard"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">原有基数</label>
                    <div class="col-lg-10">
                        <p class="form-control-static" id="SocialSecurityBase"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">变更基数</label>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.AccumulationFundBase, new { @class = "form-control", placeholder = "请输入变更基数" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">变更范围</label>
                    <div class="col-lg-10">
                        <p class="form-control-static orange" id="SocialSecurityAround"</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-4">
                        <button type="button" class="btn btn-info bg-lightblue btn-block">取消</button>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-info bg-lightblue btn-block">申请变更</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Footer
{
    <script>

        $(function () {

            $("#SocialSecurityPeopleID").change(function () {

                var id = $(this).val();

                $.ajax({

                    url: '/UserInsurance/AccumulationFundDetail/' + id,
                    dataType: 'json',
                    success: function (data) {

                        $("#SocialSecurityAround").html(data.SocialAccumulationDict.AFMinBase + "~" + data.SocialAccumulationDict.AFMaxBase);
                        $("#IdentityCard").html(data.IdentityCard);
                        $("#SocialSecurityBase").html(data.AccumulationFundBase);
                    },
                    error: function (a, b, c) {
                        console.log(a);
                    }


                });

            });

        });

    </script>
}

